.projectsBlock {
    height: 100vh;
    background-color: deepskyblue;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid orange;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    background-color: red;
}