.project{
    width: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button {
    width: 100px;
    height: 100px;
    padding-top: 60px;
    margin: 0px auto;
    text-align: center;
}
.discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}