.mainBlock{
    height: 100vh;
    background-color: yellow;
}
.text{
    width: 300px;
    background-color: #282c34;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: rebeccapurple;
}
