.remoteBlock {
    height: 200px;
    background-color: coral;
}
.text {
    flex-direction: column;
    justify-content: flex-start;
}
.remoteMe {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}